<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="author" content="Huang Liang" />
    <title>{{ page.title }}</title>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="/styles/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/styles/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/styles/ie.css"
    type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="/styles/main.css" type="text/css" media="screen">
  </head>

  <body>
    <div style="background-color: #d9b860; height: 5px"></div>
    <div class="container">
      <div id="sitename"><a href="/" class="nodecoration"><img src="/images/sitename.png"/></a></div>
      <div class="prepend-1 span-17">
	{{ content }}
      </div>
      <div class="prepend-1 span-5 last sidebar">
	<a href="/archives.html" class="nodecoration"><img src="/images/archives.png"/></a>
	<!--a href="/topics.html" class="nodecoration"><img src="/images/topics.png"/></a-->
	<ul class="menu">
	  {% for topic in site.iterable.categories %}
	  <li><a href="/categories/{{topic.name}}/index.html">{{ topic.name }}</a></li>
	  {% endfor %}
	</ul>
	<hr class="space"/>
	<div class="infobox">
	  <div><img class="icon" src="/images/rss.png"/><a href="/atom.xml">RSS feed</a></div>
	  <div><img class="icon" src="/images/email.png"/><a href="mailto:exceedhl@gmail.com">Email me</a></div>
	</div>
	</ul>
      </div>
    </div>
<hr class="space"/>
<hr class="space"/>
  </body>
</html>
